@model IEnumerable<SampleToDo.Models.Reminder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToDoTask.ToDoTaskID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReminderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recurring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReminderType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToDoTask.ToDoTaskID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReminderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recurring)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReminderType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReminderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReminderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReminderID })
        </td>
    </tr>
}

</table>
